@page "/add-asp-net-user-token"
@layout MainLayout
@inherits IyaElepoApp.Pages.AddAspNetUserTokenComponent

@using Radzen
@using Radzen.Blazor
@using IyaElepoApp.Models.ConData
@using Microsoft.AspNetCore.Identity;
@using IyaElepoApp.Models
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize]


<RadzenContent Container="main">
  <ChildContent>
    <div class="row">
      <div class="col-md-12">
        <RadzenTemplateForm Data="@aspnetusertoken" Visible="@(aspnetusertoken != null)" TItem="IyaElepoApp.Models.ConData.AspNetUserToken" Submit="@Form0Submit">
          <ChildContent>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Text="User Id" Component="UserId" style="width: 100%">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenTextBox MaxLength="450" style="display: block; width: 100%" @bind-Value="@(aspnetusertoken.UserId)" Name="UserId">
                </RadzenTextBox>
                <RadzenRequiredValidator Component="UserId" Text="UserId is required" style="position: absolute">
                </RadzenRequiredValidator>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Text="Login Provider" Component="LoginProvider" style="width: 100%">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenTextBox MaxLength="450" style="display: block; width: 100%" @bind-Value="@(aspnetusertoken.LoginProvider)" Name="LoginProvider">
                </RadzenTextBox>
                <RadzenRequiredValidator Component="LoginProvider" Text="LoginProvider is required" style="position: absolute">
                </RadzenRequiredValidator>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Text="Name" Component="Name" style="width: 100%">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenTextBox MaxLength="450" style="display: block; width: 100%" @bind-Value="@(aspnetusertoken.Name)" Name="Name">
                </RadzenTextBox>
                <RadzenRequiredValidator Component="Name" Text="Name is required" style="position: absolute">
                </RadzenRequiredValidator>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Text="Value" Component="Value" style="width: 100%">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenTextBox style="width: 100%" @bind-Value="@(aspnetusertoken.Value)" Name="Value">
                </RadzenTextBox>
              </div>
            </div>
            <div class="row">
              <div class="col offset-sm-3">
                <RadzenButton ButtonType="ButtonType.Submit" Icon="save" Text="Save" ButtonStyle="ButtonStyle.Primary">
                </RadzenButton>
                <RadzenButton ButtonStyle="ButtonStyle.Light" style="margin-left: 1rem" Text="Cancel" Click="@Button2Click">
                </RadzenButton>
              </div>
            </div>
          </ChildContent>
        </RadzenTemplateForm>
      </div>
    </div>
  </ChildContent>
</RadzenContent>
