@page "/add-asp-net-user-login"
@layout MainLayout
@inherits IyaElepoApp.Pages.AddAspNetUserLoginComponent

@using Radzen
@using Radzen.Blazor
@using IyaElepoApp.Models.ConData
@using Microsoft.AspNetCore.Identity;
@using IyaElepoApp.Models
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize]


<RadzenContent Container="main">
  <ChildContent>
    <div class="row">
      <div class="col-md-12">
        <RadzenTemplateForm Data="@aspnetuserlogin" Visible="@(aspnetuserlogin != null)" TItem="IyaElepoApp.Models.ConData.AspNetUserLogin" Submit="@Form0Submit">
          <ChildContent>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Text="Login Provider" Component="LoginProvider" style="width: 100%">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenTextBox MaxLength="450" style="display: block; width: 100%" @bind-Value="@(aspnetuserlogin.LoginProvider)" Name="LoginProvider">
                </RadzenTextBox>
                <RadzenRequiredValidator Component="LoginProvider" Text="LoginProvider is required" style="position: absolute">
                </RadzenRequiredValidator>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Text="Provider Key" Component="ProviderKey" style="width: 100%">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenTextBox MaxLength="450" style="display: block; width: 100%" @bind-Value="@(aspnetuserlogin.ProviderKey)" Name="ProviderKey">
                </RadzenTextBox>
                <RadzenRequiredValidator Component="ProviderKey" Text="ProviderKey is required" style="position: absolute">
                </RadzenRequiredValidator>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Text="Provider Display Name" Component="ProviderDisplayName" style="width: 100%">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenTextBox style="width: 100%" @bind-Value="@(aspnetuserlogin.ProviderDisplayName)" Name="ProviderDisplayName">
                </RadzenTextBox>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Text="Asp Net User" Component="UserId" style="width: 100%">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenDropDown Data="@getAspNetUsersResult" TextProperty="ConcurrencyStamp" ValueProperty="Id" Placeholder="Choose AspNetUser" style="display: block; width: 100%" @bind-Value="@(aspnetuserlogin.UserId)" Name="UserId">
                </RadzenDropDown>
                <RadzenRequiredValidator Component="UserId" Text="UserId is required" style="position: absolute">
                </RadzenRequiredValidator>
              </div>
            </div>
            <div class="row">
              <div class="col offset-sm-3">
                <RadzenButton ButtonType="ButtonType.Submit" Icon="save" Text="Save" ButtonStyle="ButtonStyle.Primary">
                </RadzenButton>
                <RadzenButton ButtonStyle="ButtonStyle.Light" style="margin-left: 1rem" Text="Cancel" Click="@Button2Click">
                </RadzenButton>
              </div>
            </div>
          </ChildContent>
        </RadzenTemplateForm>
      </div>
    </div>
  </ChildContent>
</RadzenContent>
