@page "/asp-net-users"
@layout MainLayout
@inherits IyaElepoApp.Pages.AspNetUsersComponent

@using Radzen
@using Radzen.Blazor
@using IyaElepoApp.Models.ConData
@using Microsoft.AspNetCore.Identity;
@using IyaElepoApp.Models
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize]


<RadzenContent Container="main">
  <ChildContent>
    <RadzenHeading Size="H1" Text="Asp Net Users">
    </RadzenHeading>
    <div class="row">
      <div class="col-md-12">
        <RadzenButton Icon="add_circle_outline" style="margin-bottom: 10px" Text="Add" Click="@Button0Click">
        </RadzenButton>
        <RadzenSplitButton Icon="get_app" style="margin-left: 10px; margin-bottom: 10px" Text="Export" Click="@Splitbutton0Click">
          <ChildContent>
            <RadzenSplitButtonItem Text="Excel" Value="xlsx">
            </RadzenSplitButtonItem>
            <RadzenSplitButtonItem Text="CSV" Value="csv">
            </RadzenSplitButtonItem>
          </ChildContent>
        </RadzenSplitButton>
        <RadzenTextBox Placeholder="Search ..." style="display: block; margin-bottom: 10px; width: 100%" Name="Textbox0" @oninput="@(async(args) => {search = $"{args.Value}";await grid0.GoToPage(0);await Load();})">
        </RadzenTextBox>
        <RadzenDataGrid @ref="grid0" AllowFiltering="true" FilterMode="Radzen.FilterMode.Advanced" AllowPaging="true" AllowSorting="true" Data="@getAspNetUsersResult" TItem="IyaElepoApp.Models.ConData.AspNetUser" RowSelect="@Grid0RowSelect">
          <Columns>
            <RadzenDataGridColumn TItem="IyaElepoApp.Models.ConData.AspNetUser" Property="Id" Title="Id">
            </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="IyaElepoApp.Models.ConData.AspNetUser" Property="AccessFailedCount" Title="Access Failed Count">
            </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="IyaElepoApp.Models.ConData.AspNetUser" Property="ConcurrencyStamp" Title="Concurrency Stamp">
            </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="IyaElepoApp.Models.ConData.AspNetUser" Property="Email" Title="Email">
            </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="IyaElepoApp.Models.ConData.AspNetUser" Property="EmailConfirmed" Title="Email Confirmed">
            </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="IyaElepoApp.Models.ConData.AspNetUser" Property="LockoutEnabled" Title="Lockout Enabled">
            </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="IyaElepoApp.Models.ConData.AspNetUser" Property="LockoutEnd" Title="Lockout End">
            </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="IyaElepoApp.Models.ConData.AspNetUser" Property="NormalizedEmail" Title="Normalized Email">
            </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="IyaElepoApp.Models.ConData.AspNetUser" Property="NormalizedUserName" Title="Normalized User Name">
            </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="IyaElepoApp.Models.ConData.AspNetUser" Property="PasswordHash" Title="Password Hash">
            </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="IyaElepoApp.Models.ConData.AspNetUser" Property="PhoneNumber" Title="Phone Number">
            </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="IyaElepoApp.Models.ConData.AspNetUser" Property="PhoneNumberConfirmed" Title="Phone Number Confirmed">
            </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="IyaElepoApp.Models.ConData.AspNetUser" Property="SecurityStamp" Title="Security Stamp">
            </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="IyaElepoApp.Models.ConData.AspNetUser" Property="TwoFactorEnabled" Title="Two Factor Enabled">
            </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="IyaElepoApp.Models.ConData.AspNetUser" Property="UserName" Title="User Name">
            </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="IyaElepoApp.Models.ConData.AspNetUser" Property="FirstName" Title="First Name">
            </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="IyaElepoApp.Models.ConData.AspNetUser" Property="MiddleName" Title="Middle Name">
            </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="IyaElepoApp.Models.ConData.AspNetUser" Property="Surname" Title="Surname">
            </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="IyaElepoApp.Models.ConData.AspNetUser" Property="CustomerID" Title="Customer ID">
            </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="IyaElepoApp.Models.ConData.AspNetUser" Property="SupplierID" Title="Supplier ID">
            </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="IyaElepoApp.Models.ConData.AspNetUser" Property="GenderID" Title="Gender ID">
            </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="IyaElepoApp.Models.ConData.AspNetUser" Filterable="false" Sortable="false" Width="70px" TextAlign="TextAlign.Center">
              <Template Context="iyaElepoAppModelsConDataAspNetUser">
                <RadzenButton ButtonStyle="ButtonStyle.Danger" Icon="close" Size="ButtonSize.Small" Click="@((args) =>GridDeleteButtonClick(args, iyaElepoAppModelsConDataAspNetUser))" @onclick:stopPropagation="true">
                </RadzenButton>
              </Template>
            </RadzenDataGridColumn>
          </Columns>
        </RadzenDataGrid>
      </div>
    </div>
  </ChildContent>
</RadzenContent>
